<div class="navbar-fixed">

  <nav>
    <div class="nav-wrapper" style="background-color: #00447d">
      <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
      <a href="#" class="brand-logo header-martins"><b>Conciliação</b> - {{ currentUser.menu }}  </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a class="header-content" [routerLink]="['/']">
            <span class="row">Bem vindo, {{ currentUser.firstName }}             <span class="new badge red">{{ currentUser.quantidade_avisos }}</span>
          </span>
            <span class="row">Usuário desde teste</span>
          </a>
        </li>
        <li><a class= "logout-header" (click)="logout()"><i class="material-icons right">exit_to_app</i>Sair</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col s12 m4 l3">
    <div class="side-nav" id="mobile-demo">
      <ul>
        <li><a [routerLink]="['/home/chargeManagement']" (click)="atualizaMenu('Movimentos de cobrança e contábil')">Gestão de Cargas</a></li>
        <li><a [routerLink]="['/home/pendingConciliation']" (click)="atualizaMenu('Controle de pendências de conciliação')">Conciliação de Pendências</a></li>
        <li><a [routerLink]="['/home/agingPeriod']" (click)="atualizaMenu('Períodos - Aging')">Períodos - Aging</a></li>
        <li><a [routerLink]="['/home/configuracaoEmpresa']" (click)="atualizaMenu('Configuracao Empresa')">Configuração Empresa</a></li>
        <li><a [routerLink]="['/home/selecionaUnidade']" (click)="atualizaMenu('Seleciona Unidade')">Seleciona Unidade</a></li>
        <li><a [routerLink]="['/home/tiposMovimentacoes']" (click)="atualizaMenu('Tipos Movimentações')">Tipos movimentações</a></li>
      </ul>
    </div>
  </div>

  <div class="col s12 m12 l12">
    <router-outlet></router-outlet>
  </div>

</div>
