<div class="row-fields">
    <div class="input-field col s4 m4 l4">
      <select materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Escolha uma opção</option>
        <option value="1">Martins</option>
        <option value="2">e-Fácil</option>
      </select>
      <label>Empresa</label>
    </div>
    <div class="input-field col s4 m4 l4">
      <select materialize="material_select" [materializeSelectOptions]="selectOptions">
          <option value="" disabled selected>Escolha uma opção</option>
          <option value="1">Atacado</option>
          <option value="2">Varejo</option>
      </select>
      <label>Unidade de Negócio</label>
    </div>
    <div class="input-field col s4 m4 l4">
      <select materialize="material_select" [materializeSelectOptions]="selectOptions">
          <option value="" disabled selected>Escolha uma opção</option>
          <option value="1">101020</option>
          <option value="2">303030</option>
      </select>
      <label>Conta</label>
    </div>
    <div class="row">
      <div class="col s6 m3 l2">
        <button data-target="modal" class="waves-effect waves-light btn blue darken-1 modal-trigger" >Salvar</button>
      </div>
      <div class="col s6 m3 l2">
          <button data-target="modal" class="waves-effect waves-light btn blue darken-1 modal-trigger" >Pesquisar</button>
        </div>
   </div>
</div>
<div>
  <table class="striped centered grid-border">
      <thead class="grid-background">
          <tr>
            <th class="grid-border left">Empresa</th>
            <th class="grid-border">Unidade de Negócio</th>
            <th class="grid-border">Conta</th>
            <th class="grid-border">Ação</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="grid-border">empresa stuff</td>
              <td class="grid-border">unidade stuff</td>
              <td class="grid-border">conta stuff</td>
              <td class="grid-border">
                <a class="waves-effect waves-light modal-trigger" href=""><i class="material-icons left">edit</i></a>
                <a class="waves-effect waves-light modal-trigger" href=""><i class="material-icons left">delete</i></a>
                <a class="waves-effect waves-light modal-trigger" href=""><i class="material-icons left">block</i></a>
                <a class="waves-effect waves-light modal-trigger" href=""><i class="material-icons left">check</i></a>
              </td>
            </tr>
         </tbody>
          <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próxima">
            </pagination-controls>
  </table>
</div>
