<span class="title">Cadastrar produto</span>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">Aba 1</a></li>
      <li class="tab col s3"><a class="active" href="#test2">Aba 2</a></li>
      <li class="tab col s3"><a href="#test3">Aba 3</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">Aba 1</div>
  <div id="test2" class="col s12">Aba 2</div>
  <div id="test3" class="col s12">Aba 3</div>
</div>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">Nome do produto</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Marca</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="first_name" type="text" class="validate" maxlength="120" data-length="120">
        <label for="first_name">Descrição</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s3">
        <input type="text" name="datepicker" materialize="pickadate" [materializeParams]="[{format:'dd/mm/yyyy'}]" />
        <label for="fabricacao">Data de fabricação</label>
      </div>
      <div class="input-field col s3">
        <input type="text" name="datepicker" materialize="pickadate" [materializeParams]="[{format:'dd/mm/yyyy'}]" />
        <label for="validade">Data de validade</label>
      </div>
      <div class="input-field col s6">
        <input type="text" id="autocomplete-input" materialize="autocomplete" [materializeParams]="[{'data': locations}]">
        <label for="autocomplete-input">Autocomplete</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <select materialize="material_select" [materializeSelectOptions]="selectOptions">
      <option value="" disabled selected>Escolha uma opção</option>
      <option value="1">Opção 1</option>
      <option value="2">Opção 2</option>
      <option value="3">Opção 3</option>
    </select>
        <label>Materialize Select</label>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col push-s8 push-m9 push-l10">
    <button data-target="modal" class="waves-effect waves-light btn blue darken-1 modal-trigger">Salvar</button>
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-header">
    <i class="material-icons icons">warning</i>
    <span style="vertical-align: middle;">Aviso</span>
  </div>
  <div class="modal-content">
    <p>Tem certeza que deseja salvar o novo produto?</p>
  </div>
  <div class="modal-footer">
      <a href="" class="btn-confirm modal-action modal-close waves-effect waves-blue btn blue">Confirmar</a>
      <a href="" class="btn-cancel modal-action modal-close waves-effect waves-orange btn orange lighten-1">Cancelar</a>
  </div>
</div>
