<style>
    span.badge.new::after {
        content: " Alertas"!important;
    }
</style>

<header id="header" class="page-topbar">
    <div class="navbar-fixed" ng-app="MartinsApp" ng-controller="HeaderController">
        <nav class="navbar-color">
            <div class="nav-wrapper " style="background-color: #00447d">

                <div class="header-search-wrapper hide-on-med-and-down sideNav-lock">
                    <a href="#" class="brand-logo header-martins">  Administração Financeira </a>

                    <div class="right" style="margin:-10px auto 0 260px">
                        <span class="row">
                            Unidade: {{codUnidade}}  - {{descUnidade}}  | Conta: {{ codConta }}  - {{descConta}}
                        </span>
                    </div>

                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a class="header-content" [routerLink]="['/']">
                            <span class="row">
                                Bem vindo, {{ usuario.firstName }}             <span class="new badge red">{{ usuario.quantidade_avisos }}</span>
                            </span>
                        </a>
                    </li>

                    <li><a class="logout-header tooltipped" ng-click="trocarUnidade()" data-tooltip="Alterar Un. Negócio"><i class="material-icons left">autorenew</i></a></li>

                </ul>
            </div>
        </nav>
    </div>
</header>