<div class="col s12 m4 l3" ng-controller="HeaderController">
  <div>
      <ul class="side-nav" id="mobile-demo">
          <li><a href="/ADMINISTRACAO.CONCILIACAO/GestaoCarga" ng-click="atualizaMenu('Movimentos de cobrança e contábil')">Movimentos de cobrança e contábil</a></li>
          <li><a href="/ADMINISTRACAO.CONCILIACAO/ConciliacaoPendente" ng-click="atualizaMenu('Controle de pendências de conciliação')">Conciliação de Pendências</a></li>
          <li><a href="/ADMINISTRACAO.CONCILIACAO/PeriodoAging" ng-click="atualizaMenu('Períodos - Aging')">Períodos - Aging</a></li>
          <li><a href="/ADMINISTRACAO.CONCILIACAO/ConfiguracaoEmpresa" ng-click="atualizaMenu('Configuracao Empresa')">Configuração Unidade Negócio</a></li>

          <li><a href="/ADMINISTRACAO.CONCILIACAO/TiposMovimentacoes" ng-click="atualizaMenu('Tipos Movimentações')">Tipos movimentações</a></li>
          <li><a href="/ADMINISTRACAO.CONCILIACAO/MovimentacaoAcerto" ng-click="atualizaMenu('Movimentação Acerto')">Movimentação de Acerto</a></li>
          <li><a href="/ADMINISTRACAO.CONCILIACAO/SaldoConta" ng-click="atualizaMenu('Saldo Contas')">Saldo de Contas</a></li>
          <li><a href="/ADMINISTRACAO.CONCILIACAO/FechamentoPeriodo" ng-click="atualizaMenu('Fechamento Período')">Fechamento de Período</a></li>
          <li> <a href="/ADMINISTRACAO.CONCILIACAO/SelecionaUnidade"><i class="material-icons left">autorenew</i>Alterar Unidade Negócio</a> </li>
          <li> <a  ng-click="logout()" style="cursor:pointer"><i class="material-icons left">exit_to_app</i>Sair</a> </li>
      </ul>
  </div>
</div>
