<div class="col s12 m4 l3">
  <div>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/GestaoCarga" ng-click="atualizaMenu('Movimentos de cobrança e contábil')">Gestão de Cargas</a></li>
      <li><a href="/ConciliacaoPendente" ng-click="atualizaMenu('Controle de pendências de conciliação')">Conciliação de Pendências</a></li>
      <li><a href="/PeriodoAging" ng-click="atualizaMenu('Períodos - Aging')">Períodos - Aging</a></li>
      <li><a href="/ConfiguracaoEmpresa" ng-click="atualizaMenu('Configuracao Empresa')">Configuração Empresa</a></li>
      <li><a href="/SelecionaUnidade" ng-click="atualizaMenu('Seleciona Unidade')">Seleciona Unidade</a></li>
      <li><a href="/TiposMovimentacoes" ng-click="atualizaMenu('Tipos Movimentações')">Tipos movimentações</a></li>
      <li><a href="/MovimentacoesAcerto" ng-click="atualizaMenu('Movimentação Acerto')">Movimentação de Acerto</a></li>
    </ul>
  </div>
</div>
